# Postgres
POSTGRES_DB=population
POSTGRES_USER=user
POSTGRES_PASSWORD=pass
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Data source: "un"
# In feature, we can add another data source if we will need it
DATA_SOURCE=un